
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"  crossorigin="anonymous">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" >
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jQuery.js"></script>
    <script src="../static/js/logging.js"></script>
    <script type="text/javascript">  
    function printvalue(){  
    var nombre=document.getElementById("inputemail").value; 
<!--    var nombre=document.getElementById("inputemail").value; -->
    alert("Bienvenido "+nombre);} 
    </script>  
   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Inicio</a></li>
            <li role="presentation" class="active"><a href="#">Iniciar sesion</a></li>
            <li role="presentation" ><a href="/showSignUp">Registrate</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>

      <div class="jumbotron">
        <h1>App de Prueba</h1>
        <form action="/Logging" method="post">
           <label for="inputemail" class="sr-only">Correo Electrónico</label>
           <input type="email" name="inputemail" id="inputemail" class="form-control" placeholder="Email" required autofocus>

           <label for="inputpassword" class="sr-only">Contraseña</label>
           <input type="password" name="inputpassword" id="inputpassword" class="form-control" placeholder="Contraseña" require/>
           <button  class="btn btn-lg btn-primary btn-block" type="submit"  >Iniciar Sesión</button>
	   
         </form>
      </div>

      

      <footer class="footer">
        <p>&copy; Company 2019</p>
      </footer>

    </div>
  </body>
</html>

